.root {
    -fx-font-size: 16px;
    -fx-font-family: Roboto, sans-serif;
    -fx-background-color: #ffffff;
}

.heading {
    -fx-font-size: 32px;
    -fx-font-family: "Montserrat Medium", Roboto, sans-serif;
}

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.button {
    -fx-font-size: 16px;
    -fx-font-family: "Montserrat Medium", Roboto, sans-serif;
    /* Icon formatting */
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 4px; 
}

.main-button {
    -fx-background-color: #1a75eb;
    -fx-border-color: #1a75eb;
    -fx-border-radius: 2px;
    -fx-text-fill: #ffffff;
}

.main-button:hover {
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 2);
}

.sec-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #757575;
    -fx-border-radius: 2px;
    -fx-text-fill: #000000;
}

.sec-button:hover {
    -fx-background-color: #e0e0e0;
}

.icon-only-button {
    -fx-min-height: 48px;
    -fx-min-width: 48px;
    -fx-max-height: 48px;
    -fx-max-width: 48px;
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px;
    -fx-border-radius: 24px;
}

.icon-only-button:hover {
    -fx-background-radius: 24px;
}

.red-button:hover {
    -fx-background-color: #d32f2f;
    -fx-border-color: #d32f2f;
    -fx-text-fill: #ffffff;
}

#playBtn {
    -fx-background-image: url("images/play_circle_black.png");
}

#deleteBtn {
    -fx-background-image: url("images/delete_black.png");
}

#createBtn {
    -fx-background-image: url("images/add_circle_white.png");
}

#searchBtn {
    -fx-background-image: url("images/search_white.png");
}

#cancelBtn {
    -fx-background-image: url("images/cancel_black.png");
}

#cancelBtn:hover {
    -fx-background-image: url("images/cancel_white.png");
}

#playPauseBtn {
    -fx-min-height: 48px;
    -fx-min-width: 48px;
    -fx-background-size: 32 32;
    -fx-background-position: 8px;
    -fx-border-color: transparent;
    -fx-background-radius: 24px;
    -fx-background-image: url("images/pause_white.png");
}

#exitBtn {
    -fx-background-image: url("images/cancel_black.png");
}

#previewBtn {
    -fx-background-image: url("images/volume_up_black.png");
}

#saveBtn {
    -fx-background-image: url("images/save_black.png");
}

#assembleBtn {
    -fx-background-image: url("images/subscriptions_white.png");
}

#backBtn {
    -fx-background-image: url("images/arrow_back_black.png");
}

#addToBtn {
    -fx-background-image: url("images/chevron_right_black.png");
}

#removeFromBtn {
    -fx-background-image: url("images/chevron_left_black.png");
}

#moveUpBtn {
    -fx-background-image: url("images/chevron_up_black.png");
}

#moveDownBtn {
    -fx-background-image: url("images/chevron_down_black.png");
}

#saveRateBtn {
    -fx-background-image: url("images/save_white.png");
}

#dontSaveRateBtn {
    -fx-background-image: url("images/cancel_black.png");
}

/*------------------------------------*\
    #TABLEVIEW
\*------------------------------------*/

.table-view {
    -fx-background-color: #ffffff;
}

.table-view:focused {
    -fx-background-color: #1a75eb;
}

.table-view .column-header-background .label{
    -fx-font-weight: bold;
}

.table-view .column-header {
    -fx-background-color: #ffffff;
}

.table-view .filler {
    -fx-background-color: #ffffff;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-table-cell-border-color:#ffffff;
    -fx-cell-size: 48px;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #ffffff; 
}

.table-row-cell:selected {
    -fx-background-color: #1a75eb;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-column {
  -fx-alignment: CENTER-LEFT;
}

/*------------------------------------*\
    #LISTVIEW
\*------------------------------------*/

#leftPhotoListView .list-cell, #rightPhotoListView .list-cell {
    -fx-alignment: center;
}