* {
    -fx-primary-color: #1a75eb;
    -fx-cancel-color: #d32f2f;
    -fx-font-color: #000000;
    -fx-edge-color: #757575;
    -fx-hover-color: #e0e0e0;
    -fx-bg-color: #ffffff;
}

/*------------------------------------*\
    #ALERTS
\*------------------------------------*/

.dialog-pane {
    -fx-font-size: 16px;
    -fx-font-family: Roboto, sans-serif;
    -fx-background-color: -fx-bg-color;
}

.dialog-pane:header .header-panel {
  -fx-background-color: -fx-bg-color;
  -fx-border-color: transparent;
}

.dialog-pane:header .header-panel .label{
  -fx-font-family: "Montserrat Medium", Roboto, sans-serif;
  -fx-font-size: 24px;
}

.dialog-pane .button {
    -fx-font-size: 16px;
    -fx-font-family: "Montserrat Medium", Roboto, sans-serif;
    -fx-background-color: -fx-bg-color;
    -fx-border-color: -fx-edge-color;
    -fx-border-radius: 2px;
    -fx-text-fill: -fx-font-color;
}

.dialog-pane .button:hover {
    -fx-background-color: -fx-hover-color;
}

.dialog-pane .button:default {
     -fx-background-color: -fx-primary-color;
     -fx-background-color: -fx-primary-color;
     -fx-border-color: -fx-primary-color;
     -fx-text-fill: -fx-bg-color;
}

.dialog-pane .button:default:hover {
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 2);
}