.root {
    -fx-font-size: 16px;
    -fx-font-family: Roboto, sans-serif;
    -fx-background-color: -fx-bg-color;

    -fx-control-inner-background: -fx-bg-color;
    -fx-control-inner-background-alt: -fx-bg-color;

    -fx-accent: -fx-primary-color;
    -fx-focus-color: -fx-primary-color;

    -fx-color: -fx-bg-color;

    -fx-selection-bar: -fx-primary-color;
    -fx-selection-bar-non-focused: -fx-hover-color;
}

.heading {
    -fx-font-size: 32px;
    -fx-font-family: "Montserrat Medium", Roboto, sans-serif;
}

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.button {
    -fx-font-size: 16px;
    -fx-font-family: "Montserrat Medium", Roboto, sans-serif;
    /* Icon formatting */
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 4px; 
}

.main-button {
    -fx-background-color: -fx-primary-color;
    -fx-border-color: -fx-primary-color;
    -fx-border-radius: 2px;
    -fx-text-fill: -fx-bg-color;
}

.sec-button {
    -fx-background-color: -fx-bg-color;
    -fx-border-color: -fx-edge-color;
    -fx-border-radius: 2px;
    -fx-text-fill: -fx-font-color;
}

.sec-button:hover {
    -fx-background-color: -fx-hover-color;
}

.icon-only-button {
    -fx-min-height: 48px;
    -fx-min-width: 48px;
    -fx-max-height: 48px;
    -fx-max-width: 48px;
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px;
    -fx-border-radius: 24px;
}

.icon-only-button:hover {
    -fx-background-radius: 24px;
}

.red-button:hover {
    -fx-background-color: -fx-cancel-color;
    -fx-border-color: -fx-cancel-color;
    -fx-text-fill: -fx-bg-color;
}

#playPauseBtn {
    -fx-min-height: 48px;
    -fx-min-width: 48px;
    -fx-background-size: 32 32;
    -fx-background-position: 8px;
    -fx-border-color: transparent;
    -fx-background-radius: 24px;
}

/*------------------------------------*\
    #TABLEVIEW
\*------------------------------------*/

.table-view .column-header {
    -fx-background-color: -fx-bg-color;
}

.table-view .filler {
    -fx-background-color: -fx-bg-color;
}

.table-view:disabled, .table-view:disabled > .placeholder > .label {
    -fx-opacity: 1.0;
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-cell-size: 48px;
}

.table-row-cell:focused {
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-column {
  -fx-alignment: CENTER-LEFT;
}

#creationThumbCol {
    -fx-alignment: center;
}

/*------------------------------------*\
    #LISTVIEW
\*------------------------------------*/

.list-view:disabled {
    -fx-opacity: 1.0;
}

#leftPhotoListView .list-cell, #rightPhotoListView .list-cell {
    -fx-alignment: center;
}

/*------------------------------------*\
    #CHOICEBOX
\*------------------------------------*/

.choice-box {
    -fx-background-color: -fx-bg-color;
    -fx-text-fill: -fx-font-color;
}

/*------------------------------------*\
    #SLIDER
\*------------------------------------*/

.slider .track {
    -fx-padding: 2px;
    -fx-background-color: -fx-accent-color;
}

.slider .thumb {
    -fx-background-color: -fx-primary-color;
}